body {
  padding: 8em;
  height: 665px;
  background-image: url("https://cdn.glitch.global/84aabaa1-c9d9-4251-8408-1be2fa5d5a55/background.image.png?v=1666288348286");
}
form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #906a6a;
}

form label {
  width: 72px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: lighter;
  display: inline-block;
}

form input[type="text"],
form input[type="email"] {
  width: 202px;
  padding: 3px 10px;
  border: 1px solid #000000;
  border-radius: 3px;
  background-color: #bee2e8;
  margin: 8px 0;
  display: inline-block;
}

form input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
}

form input[type="submit"]:hover {
  cursor: pointer;
  color: black;
  background-color: antiquewhite;
}

textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #000000;
  border-radius: 3px;
  background-color: #bee2e8;
  margin: 8px 0;
  /*resize: vertical | horizontal | none | both*/
  resize: none;
  display: block;
}
form {
  color: rgb(255, 255, 255);
}
.enviar {
  color: black;
}
